# Preferred database config
# AIRWAY_DB_DSN="postgres://[username]:[password]@[host]:5432/[dbname]"

# MySQL examples
# AIRWAY_DB_DSN="mysql://[username]:[password]@[host]:3306/[dbname]?charset=utf8mb4"
# AIRWAY_DB_DSN="[username]:[password]@tcp([host]:3306)/[dbname]?charset=utf8mb4&parseTime=true"

# SQLite examples
# AIRWAY_DB_DSN="sqlite://./tmp/airway.db"
# AIRWAY_DB_DSN="sqlite://:memory:"

# Redis
# AIRWAY_REDIS="redis://[username]:[password]@[host]:6379/0"

# Listen port
AIRWAY_PORT="1900"

# Storage root dir
# Absolute path like '/Users/david/airway/storage'
STORAGE_ROOT=""

# Timezone
TZ="Asia/Shanghai"
