version: "3.1"
services:
  airway:
    image: "airway"
    restart: "always"
    environment:
      AIRWAY_PG_URL: "postgres://postgres:abc123456@db:5432/airway"
    ports:
      - "1900:1900"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.airway.rule=Host(`airway.example.com`)"
      - "traefik.http.routers.airway.entrypoints=websecure"
      - "traefik.http.routers.airway.tls.certresolver=myresolver"
      - "traefik.http.services.airway.loadbalancer.server.port=1900"

  airway_db:
    image: "airway_db"
    restart: "always"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: airway
      POSTGRES_PASSWORD: abc123456
    volumes:
      - pg:/var/lib/postgresql/data

volumes:
  pg:
