@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .btn {
    @apply bg-zinc-200 px-4 py-1 rounded-md hover:bg-zinc-400 hover:text-white hover:font-bold;
  } */

  input[type="text"], input[type="password"] {
    @apply px-2 py-1;
  }

  #markdown h1 {
    @apply text-xl pb-1;
  }

  #markdown p {
    @apply text-sm py-2;
  }

  #markdown ul {
    @apply list-disc ml-4;
  }

  #markdown ol {
    @apply list-decimal ml-6;
  }

  #markdown a {
    @apply text-blue-500 cursor-pointer;
  }

  a {
    @apply hover:text-blue-500 hover:cursor-pointer;
  }

  .btn {
    @apply border border-blue-500 text-sm px-2 bg-white hover:bg-blue-500 hover:text-white cursor-pointer rounded-md;
  }

  .btn-plain {
    @apply text-blue-500 hover:border hover:border-blue-500 px-2 py-1 cursor-pointer hover:rounded-md;
  }

  .btn-outline {
    @apply text-blue-500 border border-blue-500 px-4 py-1 rounded-full hover:bg-blue-500 hover:text-white;
  }

  .dropdown-menu {
    @apply flex flex-col bg-white absolute right-0 border border-gray-200;
  }

  .dropdown-menu a {
    @apply px-4 py-1 hover:bg-gray-100;
  }

  .dropdown-menu a.sep {
    @apply border-b border-zinc-200;
  }

  main img.avatar {
    width: 40px;
    height: 40px;
  }

  header img.avatar {
    width: 24px;
    height: 24px;
  }
}
