{
  "deps": {
    "@tanstack/preact-query": "5.103.1",
    "preact": "10.29.8",
    "react-hook-form": "7.88.0"
  },
  "lock": {
    "@tanstack/preact-query": {
      "version": "5.103.1",
      "integrity": "sha512-x24ZNupkOBMgsm175Jy4d9SgkCEKfgFATDSnBxxsxbR8jLtQ6/VLiC7e3HO8nKwgwTlknl8IYH2EwT0XrZVpng=="
    },
    "@tanstack/query-core": {
      "version": "5.103.1",
      "integrity": "sha512-rms8HqTGp6zA00dM+cUQ2eBcgzNJefuu5CAMB37i/6MiGT1zulPOytCFu2a0qjLqVR2n1jENPj9woqFQNuCzWA=="
    },
    "preact": {
      "version": "10.29.8",
      "integrity": "sha512-ej2aVZ+vZ8WO7tvlQWRM9N63A0KzF9q4mWJfDUHgYaIofWY9hu74QdnQrjoPMmZi2/nZ5gN0bJCQF49xQqx09Q=="
    },
    "react-hook-form": {
      "version": "7.88.0",
      "integrity": "sha512-QRaLOWhX93YCnMiRfnOFRSwWXZNt8qhm2JTZwypoDvKpSffTJHmpzMXt8U6PV5UThvL3IiiLDUWe2nHMtz6Mmw=="
    }
  }
}
